<template>
  <div>
    <div class="game-over-window">
        <div class="title">
            Game Over
        </div>
        <div>
            The Results Are in!
        </div>
        <div class="score-text">
            {{user_name}}'s Score: {{score}}
        </div>
    </div>
    <br>

    <div class="correct-answers-window">
        <div v-for="question in questions" v-bind:key="question.question">
            <CorrectAnswer v-bind:question="question"></CorrectAnswer>
        </div>
    </div>
    <br>

    <div class="play-again-window">
        <b-button v-on:click="playAgain()" variant="success" class="btn" size="lg">Play Again</b-button>
        <b-button v-on:click="quit()" variant="danger" class="btn" size="lg">Quit</b-button>
    </div>
  </div>
</template>

<script>    
import CorrectAnswer from "../components/CorrectAnswer.vue"
export default {
  name: 'GameOver',
  components: {
      CorrectAnswer
  },
  data: function() {
      return {
        questions: null,
        user_name: "",
        score: 0,
        correct: true
      }
  },
  methods: {
      playAgain() {
          this.$router.push('/play')
      },
      quit() {
          this.$router.push('/')
      }
  },
  created: function () {

      this.questions = []
      
      if (this.$questions) {
          this.questions = this.$questions
          this.user_name = this.$user_name
      }
      if (this.$HelperFunctions.sessionStorageSuported()) {
          if (sessionStorage.user_name) {
              this.user_name = sessionStorage.user_name
          }
          if (sessionStorage.questions) {
              this.questions = JSON.parse(sessionStorage.questions)
          }
        }

      this.questions.forEach(question => {
          if (question.user_answer == question.correct_answer) {
              this.score += 10;
          }
      });
  }
}
</script>


<style scoped>

.game-over-window {
    background-color: white;
    border: 7px solid lightgrey;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
    padding: 20px;
    margin-bottom: 50px;
}

.correct-answers-window {
    background-color: white;
    border: 7px solid lightgrey;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
    padding: 10px;
    margin-bottom: 50px;
}

.play-again-window {
    background-color: white;
    border: 7px solid lightgrey;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
    padding: 20px;
    margin-bottom: 50px;
}

.title {
  font-size: 50px;
  color: red;
}

.btn {
  width: 150px;
  margin: 15px;
}

.score-text {
    font-size: 30px;
}


</style>
