<template>
  <div class="welcome-window">
    <div class="title">
        Welcome to Vue Trivia!
    </div>
    <div>
        Type your name to get started
    </div>
    <br>
    <div>
        <b-form-input v-model="user_name" placeholder="Choose a name..." class="input-field"></b-form-input>
        <b-button v-on:click="submitName()" variant="success" class="btn">Submit</b-button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  name: 'Home',
  data: function() {
      return {
          user_name: ""
      }
  },
  methods: {
      submitName: function(){
          if (this.user_name != "") {
              if (this.$HelperFunctions.sessionStorageSuported()) {
                  sessionStorage.user_name = this.user_name
                }
              Vue.prototype.$user_name = this.user_name
              this.$router.push('/play')
          }
      }
  },
  created: function () {
    if (this.$HelperFunctions.sessionStorageSuported() && sessionStorage.user_name) {
        this.user_name = sessionStorage.user_name
    }
  }
}
</script>


<style scoped>

.welcome-window {
    background-color: white;
    border: 7px solid lightgrey;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 250px;
    width: 500px;
    margin-left: -250px;
    margin-top: -125px;
    padding: 40px;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

.input-field {
    position: absolute;
    width: 50%;
    left: 10%;
}

.btn {
    position: absolute;
    width: 30%;
    left: 60%;
}

</style>
