<template>
  <div>
    <div class="title">
          Answer the following questions
      </div>

    <div v-if="this.questions" class="quiz-window">
      <Question v-bind:question="this.questions[this.current_question]" v-on:submit-question="nextQuestion($event)"></Question>
    </div>

    <div v-if="!this.questions">
      <div class="loading-text">
          Loading Questions
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Question from '../components/Question.vue'
export default {
  name: 'Play',
  components: {
    Question
  },
  data: function() {
      return {
        questions: null,
        current_question: 0
      }
  },
  methods: {
      nextQuestion: function(picked_alternative){
        this.questions[this.current_question].user_answer = picked_alternative

        if(this.current_question < this.questions.length - 1) {
          this.current_question++;
        }
        else {
          if (this.$HelperFunctions.sessionStorageSuported()) {
              sessionStorage.questions = JSON.stringify(this.questions)
          }
          Vue.prototype.$questions = this.questions
          this.$router.push('/game-over')
        }
      }
  },
  created: function () {
    let numberOfQuestions = Math.floor(Math.random()*10.99) + 10
    fetch("https://opentdb.com/api.php?amount=" + numberOfQuestions + "&encode=base64")
      .then(response => {return response.json()})
      .then(json => {
        this.questions = this.$HelperFunctions.decodeQuestions(json.results)
        this.questions.forEach(question => {
          question.alternatives = this.$HelperFunctions.shuffle([question.correct_answer, ...question.incorrect_answers])
        });
      })
  }
}
</script>


<style scoped>

.quiz-window {
    background-color: white;
    border: 7px solid lightgrey;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
    padding: 40px 20px;
    margin-bottom: 40px;
}

.title {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: -50px;
}

.loading-text {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

</style>
