<template>
  <div>
    <div class="question-text">
        {{question.question}}
    </div>
    <div class="text">
        Correct answer: {{question.correct_answer}}
    </div>
    <div class="text">
        Your answer: 
        <span v-bind:class="{ 'green-text': (question.user_answer == question.correct_answer), 'red-text': !(question.user_answer == question.correct_answer) }">
            {{question.user_answer}}
        </span>
    </div>
    <hr>
  </div>
</template>

<script>    
export default {
  name: 'CorrectAnswer',
  props: {
    question: null
  },
}
</script>


<style scoped>

.question-text {
  text-align: left;
  font-size: 15px;
  margin: 5px;
  margin-top: 20px;
  font-weight: bold;
}

.text {
    text-align: left;
    font-size: 15px;
    margin: 5px;
    margin-top: 10px;
}

.green-text {
    background-color: green;
    color: white;
    border: 4px solid green;
    border-radius: 100px;
    padding: 2px;
}

.red-text {
    background-color: red;
    color: white;
    border: 4px solid red;
    border-radius: 100px;
    padding: 2px;
}

</style>
