<template>
  <div>
      <div class="question-category">
        {{question.category}}
      </div>
      <div class="question-text">
        {{question.question}}
      </div>
      <div v-for="alternative in question.alternatives" v-bind:key="alternative" v-bind:class="{ 'boolean': (question.type=='boolean') }">
        <b-button v-on:click="$emit('submit-question', alternative)" variant="primary" class="btn" size="lg">{{alternative}}</b-button>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Question',
  props: {
    question: null
  },
}
</script>


<style scoped>

.btn {
  margin: 10px;
}

.question-category {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 5px;
  margin-bottom: 20px;
}

.question-text {
  font-size: 25px;
  margin-bottom: 20px;
}

.boolean {
    display: inline;
}

</style>
